.navContainer {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: var(--color-sixth);
    height: 40px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
    font-size: var(--font-l);
}