.navContainer {
	position: fixed;
	top: 0;
	width: 100%;
	background-color: var(--color-sixth);
	height: 40px;
	color: #fff;
	display: flex;
	align-items: center;
    justify-content: space-around;
	padding: 0 10px;
	font-size: var(--font-m);
}

.navTeamsContainer {
    position: fixed;
	top: 0;
	width: 100%;
	background-color: var(--color-sixth);
	height: 40px;
	color: #fff;
	display: flex;
	align-items: center;
    justify-content: space-between;
	padding: 0 10px;
	font-size: var(--font-m);
    .btnBackWrapper {
        display: flex;
        align-items: center;
        cursor: pointer;
    }
    .navMainTitle {
        margin-left: 10px;
    }
}
