.navContainer {
	background-color: var(--color-sixth);
	height: 40px;
    width: 100%;
	color: #fff;
	display: flex;
	align-items: center;
    justify-content: space-around;
	padding: 0 10px;
	font-size: var(--font-m);
    z-index: 100;
}

.navTeamsContainer {
	width: 100%;
	background-color: var(--color-sixth);
	height: 40px;
	color: #fff;
	display: flex;
	align-items: center;
    justify-content: space-between;
	padding: 0 10px;
	font-size: var(--font-m);
    border-bottom: var(--border2);
    .btnBackWrapper {
        display: flex;
        align-items: center;
        cursor: pointer;
    }
    .navMainTitle {
        margin-left: 10px;
    }
}
