.tableContainer {
	height: 100vh;
	display: flex;
	align-items: center;
	.table {
		border: 2px solid #fff;
		border-collapse: collapse;
		width: 100%;
		margin: 0 5px;
		background-color: rgba(0, 0, 0, 0.5);

		.tableHead {
			.headTitleWrapper {
				.headTitle {
					border: 1px solid #fff;
					padding: 5px;
					font-weight: bold;
					color: #fff;
				}
			}
		}
		.tableBody {
			.bodyColumn {
				border: 1px solid #fff;
				text-align: -webkit-center;

				.playerWrapper {
					text-align: center;
					font-weight: 600;
					color: #fff;
					display: flex;
					justify-content: center;
					border-bottom: 1px solid #fff;
				}
			}
		}
	}
}
