.teamContainer {
    background-color: var(--color-sixth);
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    padding: 10px 20px;
    border: 2px solid #fff;
    border-radius: var(--border-radius);
    align-items: flex-end;
    min-width: 200px;
    .teamItemWrapper {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        font-weight: bold;
        color: rgba(255,255,255,0.9);
        .teamPlayer {
            margin-left: 7px;
        }
        .playerRating {

        }
    }
}