.teamContainer {
    background-color: var(--color-sixth);
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    padding: 10px 20px;
    border: 2px solid #fff;
    border-radius: var(--border-radius);
    align-items: flex-end;
    min-width: 200px;
    &.fadeIn {
        opacity: 0;
        animation: fadeIn ease-in 0.5s forwards;
    }
    .teamItemWrapper {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        font-weight: bold;
        color: rgba(255,255,255,0.9);
        .teamPlayer {
            margin-left: 7px;
        }
        .playerRating {

        }
    }
}

@keyframes fadeIn {
	from {
		opacity: 0;
		transform: translateY(10%);
	}
	to {
		opacity: 1;
		transform: translateY(0%);
	}
}