.teamsContainer {
    width: 100vw;
    overflow: auto;
    height: inherit;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    & > div {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start;
    }
}

