.addSectionContainer {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	margin: 15px 0 30px 0;
	padding: 15px 0;
	border-bottom: 2px var(--color-separator) solid;
	border-top: 2px var(--color-separator) solid;
	.addSectionTitle {
		font-weight: bold;
		color: #fff;
		text-decoration: underline;
		font-size: var(--font-m);
	}
	.addSectionWrapper {
		display: flex;
		width: 100%;
		justify-content: flex-end;
		align-items: center;
		padding: 7px 0 3px 0;
		.addItemBtn {
			font-size: 50px;
			color: #fff;
			transition: var(--transition);
			background-color: var(--color-approve);
			border-radius: 12px;
			cursor: pointer;
			&:hover {
				background-color: #fff;
				color: var(--color-approve);
			}
		}

		.inputsArea {
			width: 100%;
			display: flex;
			justify-content: space-between;
			align-items: center;
			.inputsWrapper {
				width: 100%;
				input {
					background-color: var(--color-primary);
					border-radius: 10px;
					margin-bottom: 5px;
					padding: 5px;
					outline: none;
					border: 2px var(--color-forth) solid;
					width: 100%;
					font-weight: bold;
					font-size: var(--font-s);
					&::placeholder {
						color: var(--color-separator);
					}
				}
				.errorMessage {
					font-weight: bold;
					color: var(--color-remove-hover);
					font-size: var(--font-xs);
					text-align: end;
				}
			}
			.eraseText {
				color: var(--color-separator);
				font-size: var(--font-l);
				font-weight: bold;
				margin: 0 8px;
				cursor: pointer;
				transition: var(--transition);
				&:hover {
					color: #000;
				}
			}
		}
	}
}
