.homeContainer {
	width: 100%;
	max-width: 550px;
	border-radius: 8px;
	padding: 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-top: 50px;
	.listWrapper {
		overflow: auto;
		height: 65vh;
	}
	.listEmptyWrapper {
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
        margin-top: 100px;
		cursor: pointer;
		transition: var(--transition);
        animation-name: scale;
        animation-duration: 1.5s;
        animation-iteration-count: infinite;
		&:hover {
			color: var(--color-approve-hover);
		}
		.listEmptyText {
			font-weight: bold;
			margin-bottom: 10px;
		}
		.listEmptyIcon {
			font-size: var(--font-xl);
		}
	}
	.bottomForm {
		display: flex;
		flex-direction: column;
		width: 100%;
		margin: 10px 0 10px 0;
		padding: 0 5px;
        position: fixed;
        bottom: 0;
        max-width: 550px;
		.btnSubmit {
			width: 100%;
			height: 30px;
			text-align: center;
			font-weight: bold;
			background-color: var(--color-approve);
			border: none;
			border-radius: var(--border-radius);
			transition: var(--transition);
			&:hover {
				background-color: var(--color-approve-hover);
			}
		}
	}
}

@keyframes scale {
	0% {
		font-size: 20px;
	}
	50% {
		font-size: 21px;
	}
	100% {
		font-size: 20px;
	}
}