.listItemWrapper {
	display: flex;
	min-width: 300px;
	justify-content: flex-end;
	width: 100%;
	padding: 8px;
	border-bottom: 2px var(--color-separator) solid;
	position: relative;
	&:last-child {
		border: 0 !important;
	}
	.itemIconsWrapper {
		display: flex;
		align-items: center;
		position: absolute;
		left: 5px;
		top: 4px;
		.iconRemoveItem {
			color: var(--color-remove);
			margin-right: 8px;
			transition: var(--transition);
			font-size: var(--font-l);
			cursor: pointer;
			&:hover {
				color: var(--color-remove-hover);
			}
		}
		.iconEditItem {
			color: var(--color-approve);
			font-size: var(--font-l);
			cursor: pointer;
			margin-right: 8px;
			transition: var(--transition);
			&:hover {
				color: var(--color-approve-hover);
			}
		}
		.activePlayer {
			font-size: var(--font-xs);
			font-weight: bold;
			color: #fff;
			border: 1px #fff solid;
			background-color: var(--color-disable);
			border-radius: var(--border-radius);
			padding: 2px 5px;
			transition: var(--transition);
			cursor: pointer;
			&.active {
				background-color: var(--color-forth);
				color: #fff;
			}
		}
	}
	.moreDetails {
		display: flex;
		align-items: center;
		.rating,
		.text {
			margin-left: 10px;
			font-weight: bold;
		}
	}

	.editModeWrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		.iconConfirmEdit {
			font-size: var(--font-m);
			transition: var(--transition);
			cursor: pointer;
			&:hover {
				color: var(--color-sixth);
			}
		}
		.editInputs {
			input {
				background-color: transparent;
				border: none;
				font-weight: bold;
				outline: none;
				font-size: var(--font-s);
				font-family: 'Rubik', sans-serif;

			}
		}
	}
}
