.listItemWrapper {
	display: flex;
	min-width: 300px;
	justify-content: flex-end;
	width: 100%;
	padding: 6px;
	border-bottom: 2px var(--color-separator) solid;
	position: relative;
	.itemIconsWrapper {
		position: absolute;
		left: 5px;
		top: 7px;
		.iconRemoveItem {
			color: var(--color-remove);
            margin-right: 7px;
            transition: var(--transition);
            font-size: var(--font-m);
            cursor: pointer;
            &:hover {
                color: var(--color-remove-hover);
            }
		}
		.iconEditItem {
			color: var(--color-approve);
            font-size: var(--font-m);
            cursor: pointer;
            transition: var(--transition);
            &:hover {
                color: var(--color-approve-hover);
            }
		}
	}
	.rating, .text {
		margin-left: 10px;
        font-weight: bold;
	}
}
