.topbarWrapper {
    display: flex;
    margin: 35px 0;
    min-width: 340px;
    width: 100%;
    justify-content: flex-end;
    padding: 0 5px;
    .topIndication {
        font-weight: bold;
    }
    .deleteAllBtn {
        color: #000;
        transition: var(--transition);
        cursor: pointer;
        font-size: var(--font-l);
        &:hover {
            color: var(--color-remove-hover);
        }
    }
}